body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.display {
    text-align: right;
    padding: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: linear-gradient(0deg, #7099b5, #9369c6);
}

button:active {
    background-color: #725272;
}

.operation-button {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0deg, #7099b5, #9369c6);
 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: rgba(10, 10, 10, 0.8);

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(15, 15, 15, 0.2);
    width: 300px;
}
